<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>

		<h1>this is new about section</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
			magni consequuntur ducimus officia voluptatem quisquam sunt libero
			maxime beatae laudantium natus deserunt illo blanditiis alias
			adipisci quam hic quae. Eveniet omnis commodi molestias iste aliquid
			magni rerum sit placeat officia sint consequuntur veritatis
			doloremque sunt ipsa veniam atque sapiente modi.</p>

	</section>



</body>
</html>